<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .hidden{
            display: none;
        }
        .container{
            text-align: center;
            border: 1px black solid;
            width: 300px;
            margin: auto;
        }
        .container > form > p{
            text-align: right;
            margin-right: 40px;
        }
        .non-now{
            background-color: #333;
            color: white;
        }
    </style>
</head>
<body>
<div id="loginPage" class="container">
    <h2>로그인</h2>
    <form method="post" action="/login">
        <p>
            <label for="username">ID</label>
            <input type="text" id="username" name="username" placeholder="ID" required="" autofocus="">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required="">
        </p>
        <p>
            <button type="submit" id="loginNow">로그인</button>
            <button type="button" onclick="goJoin()" class="non-now">회원가입</button>
        </p>
    </form>
</div>
<div id="joinPage" class="hidden container">
    <h2>회원가입</h2>
        <p>
            <input type="text" id="joinLoginId" placeholder="LOGIN ID">
        </p>
        <p>
            <input type="password" id="joinPassword" placeholder="PASSWORD">
        </p>
        <p>
            <input type="password" id="joinPasswordCheck" placeholder="PASSWORD CHECK">
        </p>
        <p>
            <input type="text" id="joinName" placeholder="NAME">
        </p>
        <p>
            <input type="text" id="joinPhone" placeholder="PHONE">
        </p>
        <p>
            <input type="text" id="joinEmail" placeholder="E-MAIL">
        </p>
        <p>
            <button type="button" onclick="goLogin()" class="non-now">로그인</button>
            <button type="button" id="joinNow">회원가입</button>
        </p>
</div>
<script>
    function goJoin(){
        document.querySelector('#loginPage').classList.add('hidden');
        document.querySelector('#joinPage').classList.remove('hidden');
    }
    function goLogin(){
        document.querySelector('#loginPage').classList.remove('hidden');
        document.querySelector('#joinPage').classList.add('hidden');
    }
</script>
</body>
</html>