<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STOCK</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="header">
    <div class="menu-container">
        <a href="/" class="menu">MAIN</a>
        <a href="/admin/users" class="menu">USERS</a>
        <a href="/admin/autos" class="menu">AUTOS</a>
        <a href="/admin/setting" class="here">SETTING</a>
    </div>
    <a href="/logout" class="logout">LOGOUT</a>
</div>

<div class="content">
    <h2>설정 관리</h2>
    <form method="post">
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>신고가 기준 일수</th>
                <th>기대 상승 비율 (%)</th>
                <th>기대 하락 비율 (%)</th>
            </tr>
            </thead>
            <tbody id="settingsTableBody">
            <tr th:each="setting, settingStat : ${settings}">
                <td>
                    <input type="text" th:name="|settings[${settingStat.index}].name|" th:value="${setting.name}" required readonly class="input-field">
                </td>
                <td>
                    <input type="number" th:name="|settings[${settingStat.index}].highestPriceReferenceDays|" th:value="${setting.highestPriceReferenceDays}" class="input-field">
                </td>
                <td>
                    <input type="number" th:name="|settings[${settingStat.index}].expectedHighPercentage|" th:value="${setting.expectedHighPercentage}" class="input-field">
                </td>
                <td>
                    <input type="number" th:name="|settings[${settingStat.index}].expectedLowPercentage|" th:value="${setting.expectedLowPercentage}" class="input-field">
                </td>
            </tr>
            </tbody>
        </table>
        <input class="button" type="submit" value="확인">
    </form>
</div>
</body>
</html>
