<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>My Page</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
<div class="header">
	<div class="menu-container">
		<a href="/admin" class="menu">ADMIN</a>
		<a href="/" class="menu">MAIN</a>
		<a href="/my" class="here">MY-PAGE</a>
	</div>
	<a href="/logout" class="logout">LOGOUT</a>
</div>

	<div class="content">
		<div th:if="${upbitAccounts.size > 0}">
			<p class="upbit-registered">UPbit 키가 등록되어 있습니다.</p>
			<p class="upbit-registered">AUTO TRADE: <input type="checkbox" id="upbitAutoOn"></p>
			<input type="hidden" th:value="${isAuto}" id="isAuto"/>
		</div>
		<div th:unless="${upbitAccounts.size > 0}">
			<p class="upbit-not-registered">유효한 UPbit 키가 등록되어 있지 않습니다.</p>
			<p class="upbit-registered">AUTO TRADE: <input type="checkbox" id="upbitAutoOn" disabled></p>
			<input type="hidden" th:value="${isAuto}" id="isAuto"/>
		</div>
		<button id="upbitKey" class="button">UPBIT KEY</button>

		<div class="stock-cards-container">
			<div class="stock-card" th:each="item : ${upbitAccounts}">
				<h3 th:text="${item.currency}"></h3>
				<p>보유수량: <span th:text="${item.balance}"></span></p>
			</div>
		</div>
	</div>

	<script>
		if (document.querySelector("#isAuto").value == 'true') document.querySelector("#upbitAutoOn").checked = true;
		else document.querySelector("#upbitAutoOn").checked = false;
		document.querySelector("#upbitKey").addEventListener("click", () => {
			location.href = "/upbit/key";
		});
		document.querySelector("#upbitAutoOn").addEventListener("change", (e) => {
			const auto = e.target.checked;
			fetch("/upbit/auto", {
				method: "PUT",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({auto}) // boolean 값을 JSON으로 변환하여 전송
			})
		});
	</script>
</body>

</html>